BOT_TOKEN=8638243599:AAG1uyHWy0T1Nw1QG69guol52W5UN7DnRs4
DATABASE_URL=postgresql://postgres.smvguuokbyxapohfttni:El4VJ5UB2XZ4xHHRFgg@aws-0-eu-west-1.pooler.supabase.com:5432/postgres
DASHBOARD_BASE_URL=https://task-reminder-bot-6nfy.onrender.com